.container-bottom{
    margin-bottom:100px;
}
.bg-color{
   background-color: #fceae8;; 
}
.slide{
  padding: 10px 20px;
  border-radius: 10px; 
}
.price{
    color:#FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    color: white;
}
.catagories{
    color:white;
}
.catagory-1{
    background-color: deeppink;
    margin-right:10px;
}
.catagory-2{
    background-color: deepskyblue;
    margin-right:10px;
}
.catagory-3{
    background-color: tomato;
    
}
.catagory-1, .catagory-2, .catagory-3{
    padding: 10px 30px;
    align-items: center;
    border-radius: 15px;;  
}
